<h1>Busque Notícias</h1>

<%= form_with(url: search_path, method: :get, local: true) do |form| %>
  <%= form.label :query, "Termo:" %>
  <%= form.text_field :query %>
  <%= form.submit "Buscar" %>
<% end %>

<hr>

<h2>Resultados</h2>

<div id="articles">
  <% if @articles.any? %>
    <ul>
      <% @articles.each do |article| %>
        <li>
          <strong><%= article['title'] %></strong> (<%= article['source']['name'] %>)
          <br>
          <%= link_to "Ler artigo completo", article['url'], target: "_blank" %>

          <% if user_signed_in? %>
            <%= button_to "📌 Salvar para Depois", articles_path, params: { article: { title: article['title'], url: article['url'], source_name: article['source']['name'] } } %>
          <% end %>
        </li> 
      <% end %> 
    </ul> 
  <% else %>
    <p>Nenhum artigo encontrado. Faça uma busca acima.</p>
  <% end %> 
</div>